# Dependencies
node_modules/

# Build outputs
dist/
build/
.angular/
*.tsbuildinfo

# Environment & secrets
.env
.env.local
.env.*.local

# IDE / editor
*.swp
.DS_Store

# Logs
*.log
npm-debug.log*

# Docker volumes (just in case)
pgdata/
redisdata/
rabbitdata/
esdata/
